<link rel="stylesheet" href="vendors/bootstrap.min.css">
<link rel="stylesheet" href="styles/main.css">
<!-- <script src="vendors/bootstrap.min.js"></script> -->

<div class="card bg-light mb-3">
    <div class="card-header"><h4>Sign Up</h4></div>
    <div class="card-body">
      <h6 class="card-title">Enter your Details</h6>
      <input type="text" class="form-control input" placeholder="Full Name">
      <input type="email" class="form-control input" placeholder="Email">
      <input type="password" class="form-control input" placeholder="Password">
      <input type="password" class="form-control input" placeholder="Re-Enter Password">
    </div>
  </div>